<footer
    class="rounded-lg shadow m-4 bg-gray-900 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 flex flex-col md:flex-row md:items-center md:justify-between"
    >
        <span
            class="text-sm text-gray-500 sm:text-center text-yellow-200/80 mb-4 md:mb-0"
            >© 2024
            <a
                href="https://www.linkedin.com/in/tano-aleu/"
                class="hover:underline">Tano Aleu™</a
            >. All rights reserved.
        </span>
        <ul
            class="flex md:flex-row flex-wrap items-center gap-4 text-sm font-medium text-white/90 sm:mt-0"
        >
            <li>
                <a href="#" class="hover:underline md:me-6">About me</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact </a>
            </li>
        </ul>
    </div>
</footer>
